html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  background-image:url("https://media.istockphoto.com/photos/the-gray-and-silver-are-light-black-with-white-the-gradient-is-the-picture-id1188030698?b=1&k=6&m=1188030698&s=170667a&w=0&h=g2evBkDG-PEB85K4Ou3QBCfFKKf9K0dmqFjeG8WwKNs=");
  background-size: 100%;
}

header{
  
  background-color: black;
  padding: 10px;
  border-style: solid;
  border-color: #F8DB48;
  border-width: 7px;
  scroll-behavior: smooth;
}

.ul{
  margin: 0px;
  text-align: right;
}
li{
  
  display: inline-block;
  padding: 10px;
  margin: 1px;
  font-family: century gothic;
  color: white;
  position: relative;
}

a{
  text-decoration: none;
}

li:hover{
 animation-name: hover;
 animation-duration: 1s;
 animation-fill-mode: forwards;
}

@keyframes hover{
  0%{
    background-color: black;
    color: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 0px;

  }
  100%{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: white;
    border-radius: 1px;
    border-width: 0px;
  }
}

#welcome-section{
  text-align: center;
  font-family: souvenir;
}
#navbar{
  position: relative;
  bottom: -1500;
  margin: 0;
}

.wow{
  font-family: verdana;
  color: white;
  text-shadow: 0px 2px 4px black;
  z-index: 100;
}


@keyframes fade{
  0%{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}

h3{
  font-family: candara;
  color: white;
  text-shadow: 0px 2px 4px black;
}

.read{
  display: flex;
  justify-content: center;
  flex-shrink: 2;
  font-family: candara;
  color: #F8DB48;
  background-color: white;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
}

.read:hover{
  background-color: #F8DB48;
  color: white;
}

h2{
  color: white;
  font-family: century gothic;
  text-shadow: 0px 2px 4px black;
}

#st{
  line-height: 70px;
}

#projects{
  text-align: center;
  font-family: century gothic;
}

.down{
  text-align: center;
}

.h1{
  text-align: center;
  font-family: century gothic;
  color: black;
  font-size: 25px;
  font-weight: 100;
}

main{
  animation-name: woosh;
  animation-duration: 3s;
}

@keyframes woosh{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.hi{
  line-height: 50px;
  
}
.me{
  color: black;
}

.me:hover{
  background-color: black;
  color: black;
}

.logo{
  height:70px;
  position: absolute;
  top: 10px;
  color: black;
}
.para{
  color: white;
  animation: boom;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}


@keyframes boom{
  0%{
    opacity: 0;
    color: white;
  }
  100%{
    opacity: 1;
    color: black;
  }
}

.nate{
  position: absolute;
  text-align: left;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 25px;
  border-style: solid;
  padding: 3px;
  top: -5px;
}

.nate:hover{
  animation-name: light;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes light{
  0%{
    color: white;
    font-size: 25px;
    border-style: solid;
  }
  100%{
    background-color: white;
    color: black;
    border-style: solid;
    border-color: gray;
  }
}

.hi{
  padding: 15px;
}

.myimage{
  width:200px;
  height: 200px;
  float: left;
  margin: 30px;
  border: 5px solid black;
  border-radius: 100px;
}
.mypara{
  font-family: 'Titillium Web', sans-serif;
  margin: 30px; 
  font-size: 25px;
  padding: 5px;
  margin-bottom: 50px;
}

#aboutme{
  text-align: center;
  font-family: century gothic;
  background-color: black;
  padding:10px;
  color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #F8DB48;
  border-width: 5px;
}

.hello{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 40px;
}

.h{
  animation-name: hi;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes hi{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}

.i{
  animation-name: Iam;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

@keyframes Iam{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
.s{
  animation-name: software;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes software{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}

#more{
  font-family: candara;
  color: white;
  background-color: black;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  font-size: 15px;
}

.about{
  background-color: black;
  color: white;
  font-weight: normal;
  text-align: center;
}

table{
  margin: 0 auto;
  border-top: 4px solid #F8DB48;
  border-bottom: 4px solid #F8DB48;
  border-collapse: collapse;
}

td{
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
  line-height: 70px;
  font-size: 23px;
  font-weight: normal;
  padding: 25px;
  background-color: black;
  color: white;
  margin: 0 auto;
  border: 2px solid white;
  border-collapse: collapse;
}

.projects{
  font-family: candara;
  color: white;
  background-color: black;
  padding: 10px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
}

#projects{
  text-align: center;
  font-family: century gothic;
  background-color: black;
  padding:30px;
  color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #F8DB48;
  border-width: 5px;
}

img{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
}

.imgs{
  text-align: center;
  line-height: 100px;
}

.imgs a{
  color:white;
  font-family: century gothic;
  padding: 10px;
  background-color: black;
  border-style: solid;
  border-color: #F8DB48;
  border-radius: 10px;
}

.survey:hover{
  animation-name: survey;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes survey{
  0%{
    color: white;
    background-color: black;
  }
  100%{
    color: black;
    background-color: white;
  }
}
#profile-link{
  background-color: black;
  display: block;
  color: white;
  font-family: century gothic;
  text-align: center;
  padding: 10px;
  border-color: white;
}

.freecodecamp{
  width: 65px;
  height: 60px;
  border-color: black;
  border-radius: 200px;
  background-color: white;
  
}
.links{
  display: flex;
  text-align: right;
  justify-content: space-around;
  padding: 10px;
  margin: 0px;
}
